<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.gmsframeworkx" >
    <application>
        <provider
            android:name=".easyphotopicker.ExtendedFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>
    </application>
</manifest>
