<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lib.gmsframeworkx">
    <application>
        <provider
            android:name=".easyphotopicker.ExtendedFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:networkSecurityConfig="@xml/network_security_config"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                />
        </provider>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
</manifest>
